@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav span {
  cursor: pointer;
  transition: color 0.2s;
}

nav span:hover {
  color: #000;
}

.slick-prev:before,
.slick-next:before {
  font-size: 64px !important;
  opacity: 1 !important;
}

/* Menu Mobile */

.toggle {
  color: #60E1CB;
  font-size: 1.5rem;
  cursor: pointer;
}

.close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;

  transition: .2s;
}

nav div#nav-links.show-menu-mobile {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background: #fff;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


nav div#nav-links.show-menu-mobile span {
  display: block;
  padding: 0.8rem 0;
  font-size: 2rem;
  font-weight: bold;
}

nav div#nav-links.show-menu-mobile button {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.icon-menu {
  display: block;
}

#nav-links {
  display: none;
}

@media screen and (min-width: 769px) {
  .icon-menu {
    display: none;
  }

  #nav-links {
    display: flex;
  }
}

@media screen and (max-width: 548px) {
  .slick-prev,
  .slick-next {
    display: none;
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 0px !important;
    opacity: 0 !important;
  }
}